.bottom_bar{
	height:200px;
	background-color:#238FCA;
	left:0px;
	bottom:0px;
	box-shadow: 0px 2px 10px 0px #238FCA;
}
.bottom_bar_label_title{
	color:#FFFFFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.bb_logo{
	background-image:url(../../media/viver_white_logo.png);
	width:200px;
	height:100%;
	background-size:100% auto;
	background-position:center;
	background-repeat:no-repeat;
}