body{
    margin:10px 0px 0px 0px;
    background-color:#29AAEF;
    background-image:url(../../media/clouds.png);
    background-repeat:repeat-x;
    background-size:auto 200px;
}
.navigator{
    width:720px;
    height:70px;
    background-color:#238FCA;
    border-radius:5px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#FFFFFF;
    display: table-cell;
    vertical-align: middle;
}
.navigator_link{
    color:#FFFFFF;
    text-decoration:none;
}
.navigator_link:hover{
    text-decoration:underline;
}
.menu_box{
    width:350px;
    height:185px;
    background-color:#FFFFFF;
    background-size: auto 50%;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:5px;
    box-shadow: 0px 2px 10px 0px #238FCA;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#29AAEF;
    display: table-cell !important;
    vertical-align: bottom;
    line-height:40px;
    position: relative;
}
.menu_box_quantity{
    border-radius: 5px;
    left: -5px;
    top: -5px;
    background-color: #e1e2ee;
    
    position: absolute;
    padding: 0px 15px;
    color:#FFFFFF;
}
.menu_box_link{
    text-decoration:none;
}

.menu{
    transition: 1s ease 0s;
}
.menu_loading{
    width:1000px;
}
.menu_loaded{
    width:720px;
}
.menu_settings{
    background-image:url(../../media/settings.png);
}
.menu_donate{
    background-image:url(../../media/donate.png);
}
.menu_basket{
    background-image:url(../../media/basket.png);
}
.menu_donate_add{
    background-image:url(../../media/donate.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_donate_search{
    background-image:url(../../media/donate.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_basket_add{
    background-image:url(../../media/basket.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_basket_search{
    background-image:url(../../media/basket.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}

.menu_volunteer{
    background-image:url(../../media/volunteer.png);
}
.menu_volunteer_add{
    background-image:url(../../media/volunteer.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_volunteer_search{
    background-image:url(../../media/volunteer.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}

.menu_date{
    background-image:url(../../media/date.png);
}
.menu_patient{
    background-image:url(../../media/patient.png);
}
.menu_patient_add{
    background-image:url(../../media/patient.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_patient_search{
    background-image:url(../../media/patient.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}


.menu_sleep{
    background-image:url(../../media/sleep.png);
}
.menu_sleep_add{
    background-image:url(../../media/sleep.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_sleep_search{
    background-image:url(../../media/sleep.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_sleep_room{
    background-image:url(../../media/room.png);
}
.menu_sleep_room_add{
    background-image:url(../../media/room.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_sleep_room_search{
    background-image:url(../../media/room.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_report{
    background-image:url(../../media/report.png);
}
.menu_report_patient{
    background-image:url(../../media/patient.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;
}
.menu_report_volunteer{
    background-image:url(../../media/volunteer.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;
}
.menu_report_sleep{
    background-image:url(../../media/sleep.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;
}
.menu_report_psychology{
    background-image:url(../../media/psychology.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;   
}
.menu_report_social_care{
    background-image:url(../../media/social_care.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;   
}
.menu_report_anamnesis{
    background-image:url(../../media/anamnesis.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;   
}
.menu_report_donate{
    background-image:url(../../media/donate.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;   
}
.menu_report_basket{
    background-image:url(../../media/basket.png), url(../../media/report.png);
    background-position:center,230px 30px;
    background-size:auto 50%,20%;   
}
.menu_hole{
    height:20px;
}
.menu_date_social_care{
    background-image:url(../../media/social_care.png);
}
.menu_date_social_care_add{
    background-image:url(../../media/social_care.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_date_social_care_search{
    background-image:url(../../media/social_care.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}

.menu_date_psychology{
    background-image:url(../../media/psychology.png);
}
.menu_date_psychology_add{
    background-image:url(../../media/psychology.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_date_psychology_search{
    background-image:url(../../media/psychology.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}



.menu_date_anamnesis{
    background-image:url(../../media/anamnesis.png);
}
.menu_date_anamnesis_add{
    background-image:url(../../media/anamnesis.png), url(../../media/add.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}
.menu_date_anamnesis_search{
    background-image:url(../../media/anamnesis.png), url(../../media/search.png);
    background-position:center,200px 10px;
    background-size:auto 50%,20%;
}



.menu_back{
    width:720px;
    padding:20px 0px 20px 0px;
    background-color:#238FCA;
    border-radius:5px;
    border: 1px solid #55BFF9;
    overflow:hidden;
    transition: 1s ease 0s;
    display:block;
}
.menu_back_loading{
    transition: 1s ease 0s;
    height:0px;
}
.menu_back_loaded{
    transition: 4s ease 0s;
    max-height: 1000px;
}
.menu_login{
    padding:25px 50px;
    vertical-align:middle;
    display:table-cell;
    background-color:#FFFFFF;
    border-radius:5px;
    box-shadow: 0px 2px 10px 0px #238FCA;
}


.input_text {
    display: block;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 	inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: 	border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: 	border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input_text:focus {
    border-color: #66AFE9;
    outline:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 	inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.input_select{
    height: 44px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.is_large{
    width: 326px;
}
.input_textarea {
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    height: 80px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 			inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: 		border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: 			border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    resize:vertical;
}
.input_textarea:focus {
    border-color: #66AFE9;
    outline:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 			inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.input_button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    background-color: #F0AD4E;
    border-color: #EEA236;
    -webkit-appearance: none;
}
.input_button:hover {
    background-color: #ec971f;
    border-color: #d58512;
}
.input_button:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: 			inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: #d58512;
    border-color: #985f0d;
}


.label_login_title{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#333;
    font-size:20px;
}
.label_login{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#333;
    font-size:14px;
    font-weight:bold;
}


.label_login_create{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#FFFFFF;
    font-size:14px;
    text-decoration:none;
}
.label_login_create:hover{
    text-decoration:underline;
}
.label_title_card{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    color:#ec971f;
    padding-bottom:30px;
}
.card{
    padding:25px 50px;
    vertical-align:middle;
    display:table-cell;
    background-color:#FFFFFF;
    border-radius:5px;
    box-shadow: 0px 2px 10px 0px #238FCA;
}


.it_mini{
    width:80px;
}
.it_large{
    width:300px;
}
.it_date_mini{
    width:30px;
    display:inline;
    text-align:center;
}
.it_date_large{
    width:70px;
    display:inline;
    text-align:center;
}
.it_date_bigger{
    width:150px;
    display:inline;
    text-align:center;
}


.label_list_item{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color:#555;
}
.label_bold{
    font-weight: bold;
}

.card_support_loading{
    transition: 1s ease 0s;
    width: 1200px;
}
.card_support_loaded{
    transition: 1s ease 0s;
    width: 720px;
}

.list_view_title{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#ec971f;
}
.list_view_text{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.list_view_text_trash{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    color:#BBB;
    font-style:italic;
}
.list_view_link{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    color:#ec971f;
    text-decoration:none;
}
.list_view_link:hover{
    color:#d58512;
    text-decoration:underline;
}
.table_hover tr:hover{
    background-color:#EEE;
}
.label_info{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    color:#555;
}
.loading_box{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color:#444;
    height:200px;
    vertical-align:middle;
    display:table-cell;
}
.search_msg_box{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color:#444;
    height:200px;
    vertical-align:middle;
    display:table-cell;
    width:100px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100% auto;
}
.search_msg_box_patient{
    background-image:url(../../media/patient.png);
}
.search_msg_box_donate{
    background-image:url(../../media/donate.png);
}
.search_msg_box_anamnese{
    background-image:url(../../media/anamnesis.png);
}
.search_msg_box_psychology{
    background-image:url(../../media/psychology.png);
}
.search_msg_box_social_care{
    background-image:url(../../media/social_care.png);
}
.search_msg_box_sleep{
    background-image:url(../../media/sleep.png);
}
.search_msg_box_room{
    background-image:url(../../media/room.png);
}
.result_content{
    width:610px;
    min-height:200px;
    overflow:scroll;
    border:solid 1px #CCC;
    border-radius:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 			inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: 		border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.error{
    background-color: #ffdcdc;
    width: 700px;
    heigth: 60px;
    padding: 10px;
    border-radius:5px;
    border: solid 1px #ffc7cf;
    font-family: ARIAL;
    font-size: 16px;
    color: #be4242;
    
}