.top_bar{
	width:720px;
	height:185px;
	background-color:#FFFFFF;
	border-radius:5px;
	box-shadow: 0px 2px 10px 0px #238FCA;
}
.top_bar_box_options{
	width:710px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#FFFFFF;
}
.top_bar_box_options_link{
	color:#FFFFFF;
	text-decoration:none;
	text-shadow:0px 2px 2px #238FCA;
}
.top_bar_box_options_link:hover{
	text-decoration:underline;
}
.top_bar_logo{
	height:100%;
	width:300px;
	background-image:url(../../media/logo.png);
	background-size:auto 80%;
	background-position:center;
	background-repeat:no-repeat;
	float:left;
}
.top_bar_children{
	height:100%;
	width:400px;
	background-image:url(../../media/children.png);
	background-size:auto 100%;
	background-position:center;
	background-repeat:no-repeat;
	float:right;
}